In [4]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats.stats import pearsonr
from pathlib import Path
from freqtrade.configuration import Configuration
from scipy.stats.stats import pearsonr

In [20]:
path='user_data/configs/'

config = Configuration.from_files([path + "config_binance_zone.json"])
data_location = Path(config['user_data_dir'], 'data', 'binance')
pairs = ["BTC_USDT","BNB_USDT"]
lag = 1
steps = 3

In [21]:
from freqtrade.data.history import load_pair_history
dataFrames = np.array([4])

dataFrames_btc = load_pair_history(datadir=data_location,
                            timeframe=config["timeframe"],
                            pair="BTC_USDT")

dataFrames_bnb = load_pair_history(datadir=data_location,
                            timeframe=config["timeframe"],
                            pair="BNB_USDT")
dataFrames_btc

,date,open,high,low,close,volume
0,2017-08-17 04:00:00+00:00,4261.48,4349.99,4261.32,4349.99,82.088865
1,2017-08-17 08:00:00+00:00,4333.32,4485.39,4333.32,4427.30,63.619882
2,2017-08-17 12:00:00+00:00,4436.06,4485.39,4333.42,4352.34,174.562001
3,2017-08-17 16:00:00+00:00,4352.33,4354.84,4200.74,4325.23,225.109716
4,2017-08-17 20:00:00+00:00,4307.56,4369.69,4258.56,4285.08,249.769913
...,...,...,...,...,...,...
9464,2021-12-11 12:00:00+00:00,48240.43,48943.92,48160.00,48747.02,3968.264310
9465,2021-12-11 16:00:00+00:00,48745.11,49276.00,48385.98,48407.25,4611.816290
9466,2021-12-11 20:00:00+00:00,48407.25,49485.71,48390.22,49389.99,3455.476680
9467,2021-12-12 00:00:00+00:00,49389.99,49699.95,49022.90,49305.70,4316.437530
9468,2021-12-12 04:00:00+00:00,49305.71,49359.86,48824.09,49301.21,2409.635490

In [35]:
# convert to numpy arrays
btc_close = dataFrames_btc.iloc[0:-1].close
btc_close_s1 = dataFrames_btc.shift(-1).close
btc_close_s1 = btc_close_s1.dropna()

np_s1 = np.array(btc_close.values)
np_s2 = np.array(btc_close_s1.values)

In [37]:
# calculate auto-correlation
corr, hypothesis = pearsonr(np_s1, np_s2)
corr, hypothesis

(0.9996903768970257, 0.0)